*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Dongle-light";
    src: url(Dongle/Dongle-Light.ttf);
}
@font-face {
    font-family: "Dongle-regular";
    src: url(Dongle/Dongle-Light.ttf);
}